/* Styles for harmonii.us mobile website
*/

html {
	margin: 0;
	padding: 0;
}

body {
	margin: auto;
	padding: 0;
	font-family: "Helvetica", "arial", sans-serif;
	font-size: 16px;
	width: 640px;
	background: #ccc;
	color: #333;
}

h1, #header {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 0;
}

h2 {
	margin: 0.3em 0;
	padding:0;
}

li {
	list-style: none;
}

#header > img {
	width: 100%;
}

#session-name {
	/*width: 640px;*/
	/*top: 0px;
	z-index: 1; Implement fixed layout later
	position: fixed;*/
	overflow: hidden;
	background-color: #E7F7A9;
	text-align: center;
}

#session-name > p {
	margin: 0.5em;
}

#container {
	margin: 1em;
}

#now-playing {
	overflow: hidden;
	clear: both;
}

#now-song, #now-album, #now-artist, #now-time {
	
}

#album-art > img {
	float: left;
	margin-right: 1em;
	width: 150px;
}

#now-song, #now-album, #now-artist, #now-time {
	margin:0.3em;
	padding:0;
}

#now-song {
	font-weight: bold;
	font-size: 120%;
}

#voting-results {
	clear: both;
}


/* Voting Choices 
------------------------------------*/
#voting-choices {
	clear: left;
	padding: 1em;
}

#song-2 {
	border-top: 0 !important;
	border-bottom: 0 !important;
}

#voting-choices ul {
	border: solid 1px #7e708f;
	padding: 1em;
	/*margin: 0.25em 0;*/
	background-color: #ccbbdf; /*#C5AEDF; /* #A187BE; */
	margin: 0;
	/*overflow: hidden;
	height: 35px;*/
}

#voting-choices ul li {

}

#voting-choices .song-title {
	
	/*display: block;
	padding-right: 0.5em;

	float: left;*/
	
}
.song-title {
	font-size: 26px;
}

.artist-name, .album-title {
	line-height: 1.2em;
	font-size: 20px;
}

#voting-choices p {
	margin: 0;
	padding: 0;
}

.voted {
	background-color: #512C7C !important;
}

/* Now Playing
------------------------------------*/
#now-playing {
}


/* Voting Results
------------------------------------*/
.subsection {
	overflow: hidden;
	margin: 0.25em;
}

.subsection > p {
	float: left;
	font-size: 30px;
	width: 15%;
	padding: 1%;
	text-align: center;
}

#voting-results ul {
	overflow: hidden;
	float: left;
	width: 60%;
	padding: 1% 3%;
}

#voting-results ul li {

}

#first > p {
	color: #FFBB00;
}

#second > p {
	color: #666;
}

#third > p {
	color: #FF9200;
}

.percent {
	
}


/* Universal sections
------------------------------------*/
.section {	
	margin: 0.75em 0;
	padding: 0.75em 1em;
	/*border: 1px gray solid;*/
	background-color: #fff; /*#ccc;*/
	border-radius:25px;
	-moz-border-radius:25px;
}

.section > h2 {
	
	margin: 0.25em 0;
}

.song-title {
	font-weight: bold;
}