h1 {
	font-size: 24px;
	padding: 20px;
}

#logo {
	height: 100px;
}

/* Header
-------------------------------*/
#header {
	background-color: #A187BE;
	overflow: hidden;
	width: 100%;
	text-align: center;
}


/* Logout
-------------------------------*/
#fb-logout-button {
	margin: 10px;
	float: right;
}

/* Login page
-------------------------------*/
#login-page {
	margin: auto;
	width: 500px;
}

#login-page > h1 {
	text-align: center;
}

#login-page p {
	margin-bottom: 1em;
}

/* Home page
-------------------------------*/
#home > h1 {
	text-align: left;
}

