html, #header, #voting-choices p {
    margin: 0;
    padding: 0;
}

body {
    color: #333333;
    font-family: "Helvetica","arial",sans-serif;
    margin: auto;
    padding: 0;
    width: 980px;
}

h1 {
    font-size: 3.25em;/*48px;*/
    margin: 0.2em 0;
    padding: 0;
}

li {
    list-style: none outside none;
}

#header {
    background-color: #A187BE;
    overflow: hidden;
}

#header > p {
    margin: 0;
    text-align: center;
}

#logo {
    width: 75%;
   /* height: 40%;*/
}

#session-name {
    background-color: #E7F7A9;
    overflow: hidden;
    text-align: center;
    padding: 0.6em 0 0.4em;
}

#session-name > h1 {
    font-size: 3em;
    display: inline;
}

#timer {
    font-size: 3em;
    margin: 0.4em 0 !important;
    display: inline;
    float: right;
}

#main {
    margin: 1em;
}

#now-playing {
    clear: both;
    overflow: hidden;
}

#voting-choices {
    overflow: hidden;
}

#voting-choices > h1 {
    float: left;
}

#voting-choices ul {
    background-color: #FFFFFF;
    margin: 1em 0;
    padding: 1em;
    clear: left;
}


.voted {
    background-color: #512C7C !important;
}

#album-art > img {
    float: left;
    margin-right: 1em;
    width: 150px;
}

#album-art > img {
    overflow: hidden;
    padding: 1em 0;
}

#song-info {
    line-height: 1.5em;
    margin: 1em 2em;
}

#song-info > li {
    line-height: 1.5em;
}

#voting-results {
    clear: both;
}

.subsection {
    background: none repeat scroll 0 0 white;
    margin: 1em 0;
    overflow: hidden;
}

.subsection > p {
    float: left;
    font-size: 50px;
    font-weight: bold;
    margin: 0.85em 0.3em 0.75em;
    text-align: center;
    width: 15%;
}

#voting-results ul {
    float: left;
    overflow: hidden;
    padding: 1.5% 1%;
    width: 60%;
}

#first > p {
    color: #FFBB00;
}

#second > p {
    color: #666666;
}

#third > p {
    color: #FF9200;
}

.section {
    background: none repeat scroll 0 0 #CCBBDF;
    border-radius: 25px 25px 25px 25px;
    margin: 2em 0;
    padding: 1em 2em 1em;
}

.section > h2 {
    margin: 0.25em 0;
}

.song-title {
    font-size: 2em;
    font-weight: bold;
}

.artist-name, .album-title {
    font-size: 2em;
    line-height: 1.2em;
}

#footer  {
    text-align: center;
}